.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

/out/

# Log files from RFA
RFA_*.log
RFA_*.log.lck

# RFA jars
external/*.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
